<div class="bg-model">
    <div class="model-content">
        <div class="close-btn-btn">
            <nav>
                <a class="close" routerLink="/home">+</a>
            </nav>
            <router-outlet></router-outlet>
        </div>
        <div class="container">
            <div class="row justify-content-center p-2">
                <h1>Add-Games</h1>
            </div>
            <div class="form-group">
                <label>Name of the Game</label>
                <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Game Name">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" [(ngModel)]="description" placeholder="Enter description">
            </div>

            <div class="form-group">
                <label>Game URL</label>
                <input type="text" class="form-control" [(ngModel)]="employeeAddress" placeholder="Enter Game URL">
            </div>
            <div class="form-group btn-btn">
                <button class="btn btn-primary" (click)="CreateRecord()">Submit</button>
            </div>
            <div class="form-group">
                <h4><b>{{message}}</b></h4>
            </div>
        </div>
    </div>
</div>
